<div class="x_panel">
    <div class="x_title">
        <h2>Prescription update</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content"  ng-controller="prescriptionController">
        <br />
        <form id="demo-form2"   data-parsley-validate class="form-horizontal form-label-left">
            <div class="form-group">
                <div class="alert alert-danger alert-dismissable" ng-show="myfalse">
                    <strong>{{getpressucessmsg}}</strong>
                </div>
                <div class="alert alert-success alert-dismissable" ng-show="mytrue">
                    <strong>{{getpressucessmsg}}</strong>
                </div>
            </div>
            <div ng-show="error" class="text-danger">
                <strong ng-bind="error">{{getsucessmsg}}</strong>
            </div>
            <!--<div class="form-group">-->
            <!--<label class="control-label col-md-3 col-sm-3 col-xs-12" for="id">ID-->
            <!--</label>-->
            <!--<div class="col-md-6 col-sm-6 col-xs-12" >-->
            <!--<input type="text" id="id" name="id" required="required" class="form-control col-md-7 col-xs-12"  ng-model="req.params.id">-->
            <!--</div>-->
            <!--</div>-->
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="doctorid">Doctor ID<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="doctorid" name="doctorid" required="required" class="form-control col-md-7 col-xs-12"  ng-model="prescriptiondataspecific.doctorid">
                </div>
            </div>
            <div class="form-group">
                <label for="patientid" class="control-label col-md-3 col-sm-3 col-xs-12">Patient ID  <span class="required">*</span> </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="patientid" class="form-control col-md-7 col-xs-12" type="text" required="required" name="patientid"   ng-model="prescriptiondataspecific.patientid" ng-value="fh">
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="control-label col-md-3 col-sm-3 col-xs-12"> Patient Name <span class="required">*</span> </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="name" class="form-control col-md-7 col-xs-12" type="text" name="name" required="required" ng-model="prescriptiondataspecific.name">
                </div>
            </div>
            <div class="form-group">
                <label for="age" class="control-label col-md-3 col-sm-3 col-xs-12">Age <span class="required">*</span></label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="age" class="form-control col-md-7 col-xs-12" type="text" name="age" required="required"  ng-model="prescriptiondataspecific.age" >
                </div>
            </div>
            <div class="form-group">
                <label for="date" class="control-label col-md-3 col-sm-3 col-xs-12">Date <span class="required">*</span> </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="date" class="form-control col-md-7 col-xs-12" type="text" name="date" required="required" ng-model="prescriptiondataspecific.date" >
                </div>
            </div>
            <div class="ln_solid"></div>
            <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <button class="btn btn-primary" type="button" >Cancel</button>
                    <button type="submit" ng-click="updatedata()" class="btn btn-success">Update</button>
                    <button type="button" ng-click="deletedata()" class="btn btn-danger">Delete</button>
                </div>
            </div>

        </form>
    </div>
</div>