<div  ng-controller="prescriptionController"  >
    <div class="x_panel">
        <div class="x_title">
            <h2>Prescription Table</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">


            <div>
                <label>Search: <input ng-model="searchText" class="col-lg-pull-6" ></label>
                <button class="btn btn-info pull-right"><i class="fa fa-user"></i><a ng-href="#!/addprescription" style="color: white"> Add Prescriptions </a></button>
            </div>
            <br>

            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Doctor ID</th>
                    <th>Patient IDL</th>
                    <th>Patient Name</th>
                    <th>Age</th>
                    <th>Date</th>
                    <th>Edit</th>
                    <th>Delete</th>

                </tr>
                </thead>

                <tbody>

                <tr ng-repeat="prescriptiondata in prescriptiondata  | filter:searchText">

                    <td>{{prescriptiondata.doctorid}}</td>
                    <td>{{prescriptiondata.patientid}}</td>
                    <td>{{prescriptiondata.name}}</td>
                    <td>{{prescriptiondata.age}}</td>
                    <td>{{prescriptiondata.date}}</td>
                    <td align="center" style="text-decoration: underline;"><a ng-href="#!/prescriptionview/{{prescriptiondata._id}}" ng-click="getprescription(prescriptiondata._id)"><i class="fa fa-edit fa-2x" title="Edit Prescription"></i></a></td>
                    <td align="center" style="text-decoration: underline;"><a ng-href="#!/prescriptionview/{{prescriptiondata._id}}" ng-click="getprescription(prescriptiondata._id)"><i class="fa fa-trash fa-2x" title="Delete Prescription"></i></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>