<div  ng-controller="supplierController"  >
    <div class="x_panel">
        <div class="x_title">
            <h2>Suppliers Table</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Phone</th>
                    <th>email</th>
                    <th>address</th>
                    <th>Actions</th>

                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="supdata in supplierdata">

                    <td>{{supdata.firstname}}</td>
                    <td>{{supdata.lastname}}</td>
                    <td>{{supdata.phone}}</td>
                    <td>{{supdata.email}}</td>
                    <td>{{supdata.address}}</td>
                    <td align="center" style="text-decoration: underline;"><a ng-href="#!/suppliersview/{{supdata._id}}" ng-click="getsup(supdata._id)"><i class="fa fa-edit fa-2x" title="Edit Supplier"></i></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>