<div class="x_panel">
    <div class="x_title">
        <h2> Invoice update</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content"  ng-controller="invoiceController">
        <br />
        <button class="btn btn-primary pull-right"><i class="fa fa-eye"></i><a ng-href="#!/viewinvoice" style="color: white"> View Invoices </a></button>
        <form id="demo-form2"   data-parsley-validate class="form-horizontal form-label-left">
            <div class="form-group">
                <div class="alert alert-danger alert-dismissable" ng-show="myfalse">
                    <strong>{{getinvoicesucessmsg}}</strong>
                </div>
                <div class="alert alert-success alert-dismissable" ng-show="mytrue">
                    <strong>{{getinvoicesucessmsg}}</strong>
                </div>
            </div>
            <div ng-show="error" class="text-danger">
                <strong ng-bind="error">{{getsucessmsg}}</strong>
            </div>
            <!--<div class="form-group">-->
            <!--<label class="control-label col-md-3 col-sm-3 col-xs-12" for="id">ID-->
            <!--</label>-->
            <!--<div class="col-md-6 col-sm-6 col-xs-12" >-->
            <!--<input type="text" id="id" name="id" required="required" class="form-control col-md-7 col-xs-12"  ng-model="req.params.id">-->
            <!--</div>-->
            <!--</div>-->
            <div class="form-group">
            </div>
            <div></div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="InvoiceNo">Invoice No <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="InvoiceNo" name="InvoiceNo" required="required" class="form-control col-md-7 col-xs-12" ng-model="invoicedataspecific.InvoiceNo">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="PatientName">Patient name<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="PatientName" name="PatientName" required="required" class="form-control col-md-7 col-xs-12" ng-model="invoicedataspecific.PatientName">
                </div>
            </div>
            <div class="form-group">
                <label for="PatientTelephone" class="control-label col-md-3 col-sm-3 col-xs-12">Contact No</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="PatientTelephone" class="form-control col-md-7 col-xs-12" type="text" name="PatientTelephone"required="required"  ng-model="invoicedataspecific.PatientTelephone">

                </div>
            </div>
            <div class="form-group">
                <label for="Date" class="control-label col-md-3 col-sm-3 col-xs-12">Date</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="Date" class="form-control col-md-7 col-xs-12" type="text" name="Date" required="required"  ng-model="invoicedataspecific.Date">
                    <script>document.getElementById("Date").value = new Date().toJSON().slice(0,10)</script>
                </div>
            </div>
            <div class="form-group">
                <label for="Time" class="control-label col-md-3 col-sm-3 col-xs-12">Time</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="Time" class="form-control col-md-7 col-xs-12" type="text" name="Time"required="required"  ng-model="invoicedataspecific.Time">

                </div>
            </div>
            <div class="form-group">
                <label for="Amount" class="control-label col-md-3 col-sm-3 col-xs-12">Amount</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="Amount" class="form-control col-md-7 col-xs-12" type="text" required="required"  name="Amount" ng-model="invoicedataspecific.Amount">
                </div>
            </div>
            <div class="form-group">
                <label for="Status" class="control-label col-md-3 col-sm-3 col-xs-12">Status</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <select id="Status" class="form-control col-md-7 col-xs-12" type="text"required="required"  name="Status" ng-model="invoicedataspecific.Status">
                        <option value="Paid">Paid</option>
                        <option value="notpaid">Not Paid</option>

                    </select>
                </div>
            </div>

            <div class="ln_solid"></div>
            <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <button class="btn btn-primary" type="button" >Cancel</button>
                    <button type="submit" ng-click="updatedata()" class="btn btn-success">Update</button>
                    <button type="button" ng-click="deletedata()" class="btn btn-danger">Delete</button>
                </div>
            </div>

        </form>
    </div>
</div>